/* Overall Style */

html {
	font-family: Helvetica, Arial, sans-serif;
}

a:link,a:hover,a:active,a:visited {
	color: black;
}

table {
	border-collapse: collapse;
}

/* Overall Structure */

body > header {
	/* fix for browsers that do not support <header> */
	display: block;

	position: fixed;
	margin: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 6em;
	
	text-align: center;
	background: #4a2;
}

body > nav {
	/* fix for browsers that do not support <nav> */
	display: block;

	position: fixed;
	margin: 0;
	padding: 0;
	left: 0;
	top: 6em;
	bottom: 2em;
	width: 13em;
	
	background: #4a2;
}

body > footer {
	/* fix for browsers that do not support <footer> */
	display: block;

	position: fixed;
	margin: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2em;
	
	background: #4a2;
	text-align: center;
}

body > article {
	/* fix for browsers that do not support <article> */
	display: block;

	margin-left: 13em;
	margin-top: 6em;
	margin-right: 0;
	margin-bottom: 2em;
	
	padding: 1em;
	z-index: -1;
}

/* Header Style */

body > header > h1 {
	font-variant: small-caps;
	margin: 0.5em;
}

body > header > h2 {
	font-size: large;
}

/* Nav Style */

body > nav h3 {
	margin-top: 0;
	text-align: center;
	font-size: medium;
}

body > nav ul {
	list-style-type: none;
	padding: 0;
}

body > nav ul > li > a {
	display: inline-block;
	width: 11em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

body > nav ul > li > a.active {
	background: white;
	font-weight: bold;
	text-decoration: none;
}

body > nav ul > li > a:hover, body > nav > ul > li > a:active {
	background: #8e4;
}

body > nav ul > li.api > a {
	padding-top : 0.25em;
	padding-bottom : 0.25em;
}

body > nav ul > li.api > a > span {
	display: inline-block;
	font-family: Menlo,Courier,monospace;
	font-size: small;
	padding: 0;
	margin-left: 1em;
}

body > nav > div.scrollable {
	overflow-y: auto;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding-bottom: 4em;
}

body > nav > div.seeAlso {
	position: absolute;
	bottom : 0;
	left : 0;
	right : 0;
	
	margin: 0;
	padding: 0;
	
	background: #4a2;
}

/* Content Style */

body > article .versions {
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	float: right;
	border: 1px solid #333;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

article th, article td {
	border: 1px solid #aaa;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 1em;
	padding-right: 1em;
}

article thead {
	background: #cdc;
}


body > article h1 {
	font-size: larger;
}

body > article h2 {
	font-size: large;
}

body > article h3 {
	font-size: medium;
}

/* Footer Style */
body > footer > p {
	margin: 0;
	padding: 0;
	line-height: 2em;
}