/* Overall Style */

/* using solarized colors:
 $base03:    #002b36;
 $base02:    #073642;
 $base01:    #586e75;
 $base00:    #657b83;
 $base0:     #839496;
 $base1:     #93a1a1;
 $base2:     #eee8d5;
 $base3:     #fdf6e3;
 $yellow:    #b58900;
 $orange:    #cb4b16;
 $red:       #dc322f;
 $magenta:   #d33682;
 $violet:    #6c71c4;
 $blue:      #268bd2;
 $cyan:      #2aa198;
 $green:     #859900;
 */

html {
	font-family: Helvetica, Arial, sans-serif;
	background: black;
	height: 100%;
}

body {
	background: #073642;
	color: #839496;
	margin: 0;
	padding: 0;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	position: relative;
}

a:link,a:hover,a:active,a:visited {
	color: #268bd2;
	text-decoration: none;
}

table {
	border-collapse: collapse;
}

/* Overall Structure */

body > .ie-warning {
	background: #dc322f;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #b58900;
}

body > footer {
	/* fix for browsers that do not support <footer> */
	display: block;

	height: 2em;
	
	text-align: center;
}

/* Header Style */

body > header {
	/* fix for browsers that do not support <header> */
	display: block;

	/* because CSS is stupid shit. This setting leads to
	   the header wrapping the margin of the contained h1. */
	overflow: auto;

	text-align: center;
	background: #073642;
}

body > header > h1 {
	font-variant: small-caps;
	margin: 0.5em;
}

body > header > h2 {
	font-size: large;
}

body > #main-row {
	display: table;
	width: 100%;
}

/* Nav Style */

body > #main-row > nav {
	/* fix for browsers that do not support <nav> */
	display: table-cell;
	vertical-align: top;
	padding: 0 0 2em 0;

	background: #073642;
}

body > #main-row > nav h3 {
	margin-top: 0;
	text-align: center;
	font-size: medium;
}

body > #main-row > nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body > #main-row > nav ul > li > a {
	display: inline-block;
	width: 11em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

body > #main-row > nav ul > li > a.active {
	background: #002b36;
	font-weight: bold;
	text-decoration: none;
}

body > #main-row > nav ul > li > a:hover,
body > #main-row > nav > ul > li > a:active {
	background: #586e75;
	color: #002b36;
}

body > #main-row > nav ul > li.api > a {
	padding-top : 0.25em;
	padding-bottom : 0.25em;
}

body > #main-row > nav ul > li.api > a > span {
	display: inline-block;
	font-family: Menlo,Courier,monospace;
	font-size: small;
	padding: 0;
	margin-left: 1em;
}

body > #main-row > nav ul > li.setup > a > span {
	margin-left: 1em;
}

body > #main-row > nav > div#main-nav {
	overflow-y: auto;
	padding-bottom: 5em;
}

/* Content Style */

body > #main-row > article {
	/* fix for browsers that do not support <article> */
	display: table-cell;
	vertical-align: top;
	width: 100%;
	background: #002b36;

	margin: 0;

	padding: 1em;
	z-index: -1;
}

article pre {
	display: table;
}

article th, article td {
	border: 1px solid #aaa;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 1em;
	padding-right: 1em;
}

article thead {
	background: #cdc;
}


body > #main-row > article h1 {
	font-size: larger;
	margin-top: 0;
}

body > #main-row > article h2 {
	font-size: large;
}

body > #main-row > article h3 {
	font-size: medium;
}

/* Footer Style */
body > footer > p {
	margin: 0;
	padding: 0;
	line-height: 2em;
}