<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>OpenGLAda - {{ page.title }}</title>
		<link href="{{ site.baseurl }}/css/main.css" media="screen" rel="stylesheet" type="text/css"/>
		<link href="{{ site.baseurl }}/css/prettify.css" media="screen" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="{{ site.baseurl }}/js/prettify.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/js/lang-ada.js"></script>
	</head>

	<body onload="prettyPrint()">
		<!--[if IE lte 8]>
			<div class="ie-warning"><p>Yes, I'm aware that this site is broken on IE &lt;=8. I don't care.</p></div>
		<![endif]-->
		<header>
			<a href="https://github.com/flyx/OpenGLAda">
				<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
			</a>
			<h1>OpenGLAda</h1>
			<h2>Thick Ada Binding for OpenGL</h2>
		</header>
		<div id="main-row">
			<nav>
				<div id="main-nav">
					<h3>Navigation</h3>
					<ul>
						{% assign sorted_pages = site.pages | sort:"name" | where_exp: "page", "page.ext != 'css'" %}
						{% for p in sorted_pages %}
							<li{% if p.navclass %} class="{{p.navclass}}"{% endif %}>
								<a {% if p.url == page.url %}class="active"{% endif %}href="{{ site.baseurl }}{{ p.url }}">
									{% if api %}
										<span>
											{% for package in p.packages %}
												{% unless forloop.first %}
													<br />
												{% endunless %}
												{{ package }}
											{% endfor %}
										</span>
									{% else %}
										{{ p.title }}
									{% endif %}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div id="see-also">
					<h3>See Also</h3>
					<ul>
						<li><a href="https://flyx.github.io/OpenCLAda/">OpenCLAda</a></li>
					</ul>
				</div>
			</nav>

			<article>
				{{ content }}
			</article>

		</div>
		<footer>
			<p>Copyright © 2012-2017 by <a href="http://flyx.org">Felix Krause</a>. Powered by <a href="http://pages.github.com/">GitHub Pages</a></p>
		</footer>
	</body>
</html>