<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>OpenGLAda - {{ page.title }}</title>
		<link href="/OpenGLAda/css/main.css" media="screen" rel="stylesheet" type="text/css"/>
		<link href="/OpenGLAda/css/syntax.css" media="screen" rel="stylesheet" type="text/css"/>
	</head>
	
	<body>
		<header>
			<h1>OpenGLAda</h1>
			<h2>Thick Ada Binding for OpenGL</h2>
		</header>
		
		<nav>
			<h3>Navigation</h3>
			<ul>
				<li><a href="/OpenGLAda/" {% if page.url == '/index.html'%} class="active" {% endif %}>Home</a></li>
				<li><a href="/OpenGLAda/doc/" {% if page.url == '/doc/index.html' %} class="active" {% endif %}>API Documentation</a></li>
				<li class="api"><a href="/OpenGLAda/doc/GL.html" {% if page.url == '/doc/GL.html' %} class="active" {% endif %}><span>GL</span></a></li>
				<li class="api"><a href="/OpenGLAda/doc/VectorTypes.html" {% if page.url == '/doc/VectorTypes.html' %} class="active" {% endif %}><span>GL.Vectors<br />GL.Normals<br />GL.Colors</span></a></li>
				<li class="api"><a href="/OpenGLAda/doc/GL.Matrices.html" {% if page.url == '/doc/GL.Matrices.html' %} class="active" {% endif %}><span>GL.Matrices</span></a></li>
				<li class="api"><a href="/OpenGLAda/doc/GL.Immediate.html" {% if page.url == '/doc/GL.Immediate.html' %} class="active" {% endif %}><span>GL.Immediate</span></a></li>
			</ul>
			
			<div class="seeAlso">
				<h3>See Also</h3>
				<ul>
					<li><a href="http://flyx86.github.com/OpenCLAda/">OpenCLAda</a></li>
				</ul>
			</div>
		</nav>
		
		<article>
			{{ content }}
		</article>
		
		<footer>
			<p>Copyright © 2012 by <a href="http://flyx.org">Felix Krause</a>. Powered by <a href="http://pages.github.com/">GitHub Pages</a></p>
		</footer>
	</body>
</html>